[user]
	email = 0rpkxez4ksa01gb3typccl0i@systemli.org
	name = sternenseemann
[push]
	default = matching
[alias]
	t = log --graph --decorate --oneline
[pull]
	rebase = true
[init]
	defaultBranch = main
