vim/.vim/.netrwhist

newsbeuter/.newsbeuter/cache.db
newsbeuter/.newsbeuter/history.*
vim/.vim/autoload/plug.vim.old
vim/.vim/plugged/

xmonad/.xmonad/xmonad.hi
xmonad/.xmonad/xmonad.o
xmonad/.xmonad/xmonad.errors
xmonad/.xmonad/xmonad-x86_64-linux
