[submodule "vim/.vim/bundle/vim-airline"]
	path = vim/.vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/bundle/supertab"]
	path = vim/.vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/.vim/bundle/vim-markdown"]
	path = vim/.vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/.vim/bundle/goyo"]
	path = vim/.vim/bundle/goyo
	url = https://github.com/junegunn/goyo.vim.git
[submodule "vim/.vim/bundle/vim-dispatch"]
	path = vim/.vim/bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "vim/.vim/bundle/vim-arduino-syntax"]
	path = vim/.vim/bundle/vim-arduino-syntax
	url = https://github.com/sudar/vim-arduino-syntax.git
[submodule "vim/.vim/bundle/slimv"]
	path = vim/.vim/bundle/slimv
	url = https://github.com/kovisoft/slimv.git
[submodule "vim/.vim/bundle/rainbow_parenthesis"]
	path = vim/.vim/bundle/rainbow_parenthesis
	url = https://github.com/kien/rainbow_parentheses.vim.git
