!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!                                              !
!           urxvt - rxvt-unicode               !
!                                              !
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

URxvt.termName:         xterm-256color
URxvt.urgentOnBell:     true
URxvt.scrollBar:        off
URxvt.jumpScroll:       true
URxvt.secondaryScroll:  true
URxvt.scrollstyle:      plain
URxvt.cursorBlink:      false
URxvt.saveLines:        99999
URxvt.internalBorder:   2
URxvt.loginShell:       true
URxvt.cursorUnderline:  false
URxvt.cursorColor:      #ffffff
URxvt.cursorColor2:     #000000
URxvt.xftAntialias:     true
URxvt.borderless:       true
URxvt.background:       #000000
URxvt.foreground:       #BEBEBE
URxvt.font:             xft:monoOne:pixelsize=14
URxvt.perl-lib:         /home/lukas/Hacking/builds/urxvt-perls/
URxvt.colorUL:          #4682B4
URxvt.perl-ext-common:  default,confirm-paste,url-select,clipboard
!URLs
URxvt.url-select.launcher:  chromium
URxvt.url-select.underline: true
!Paste
URxvt.keysym.M-u:                   perl:url-select:select_next
URxvt.keysym.M-c:                   perl:clipboard:copy
URxvt.keysym.M-v:                   perl:clipboard:paste
URxvt.keysym.M-C-v:                 perl:clipboard:paste_escaped
URxvt.iso14755_52:                  false

! Don't print the screen out via lpr when I accidentially hit PrntScr
URxvt.print-pipe: "cat > /dev/null"

