# Config file for Syslinux
#
# Comboot modules:
#   * menu.c32 - provides a text menu
#   * vesamenu.c32 - provides a graphical menu
#   * chain.c32 - chainload MBRs, partition boot sectors
#   * hdt.c32 - hardware detection tool
#   * reboot.c32 - reboots the system
#   * poweroff.com - shutdown the system
#
# To Use: Copy the respective files from /usr/lib/syslinux to /boot/syslinux.
#
# If you do not use a menu, a 'boot:' prompt will be shown and the system
# will boot automatically after 5 seconds.
#
# Please review the wiki: https://wiki.archlinux.org/index.php/Syslinux
# The wiki provides further configuration examples

SERIAL 0 38400
DEFAULT archlinux
PROMPT 0        # Change to 1 if you do not want to use a menu
TIMEOUT 3000
# You can create syslinux keymaps with the keytab-lilo tool
#KBDMAP de.ktl

# Menu Configuration
# Either menu.c32 or vesamenu32.c32 must be copied to /boot/syslinux 
#UI menu.c32
UI vesamenu.c32

# Refer to http://syslinux.zytor.com/wiki/index.php/Doc/menu
MENU TITLE Syslinux
MENU RESOLUTION 1920 1080
MENU BACKGROUND splash.png
MENU WIDTH 30
MENU MARGIN 4
MENU ROWS 20
MENU VSHIFT 10
MENU TIMEOUTROW 13
MENU TABMSGROW 13
MENU CMDLINEROW 13
MENU HELPMSGROW 0
MENU HELPMSGENDROW 0

# ponyblue #**2e7ed9
# ponypink #**cf7ed9

MENU COLOR border       30;44   #40ffffff #a0000000 std
MENU COLOR title        1;36;44 #c02e7ed9 #a0000000 std
MENU COLOR sel          7;37;40 #e0cf7ed9 #202e7ed9 all
MENU COLOR unsel        37;44   #482e7ed9 #a0000000 std
MENU COLOR help         37;40   #c0ffffff #a0000000 std
MENU COLOR timeout_msg  37;40   #80ffffff #00000000 std
MENU COLOR timeout      1;37;40 #c0ffffff #00000000 std
MENU COLOR msg07        37;40   #50ffffff #a0000000 std
MENU COLOR tabmsg       31;40   #302e7ed9 #00000000 std

# boot sections follow
#
# TIP: If you want a 1024x768 framebuffer, add "vga=773" to your kernel line.
#
#-*

LABEL archlinux
    MENU LABEL Arch Linux
    LINUX ../vmlinuz-linux
    APPEND root=/dev/mapper/laptop-arch cryptdevice=/dev/sda4:laptop security=apparmor rw
    INITRD ../initramfs-linux.img

LABEL archlinuxfallback
    MENU LABEL Arch Linux Fallback
    LINUX ../vmlinuz-linux
    APPEND root=/dev/mapper/laptop-arch cryptdevice=/dev/sda4:laptop security=apparmor rw
    INITRD ../initramfs-linux-fallback.img

LABEL windows
    MENU LABEL Windows 8
    COM32 chain.c32
    APPEND hd0 1

LABEL reboot
    MENU LABEL Reboot
    TEXT HELP
    Reboot the computer
    ENDTEXT
    COM32 reboot.c32

LABEL off
    MENU LABEL Power off
    TEXT HELP
    Turn off the computer
    ENDTEXT
    COMBOOT poweroff.com

